footer {
    background-image: url("../img/footer.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    padding: 4rem;
    text-align: center;
    /* color: white; */
    font-size: 0.8rem;
    margin-top: 5rem;
}
.descModal>img {
    display: none;
}
.img {
    height: 350px;
    width: 100px;
}
<<<<<<< HEAD
body, form, button, input, p, h1, div, .form-select {
=======
body, form, button, input, p, h1, div{
>>>>>>> d608ff06b89d971f6ef1bb28fd2e5e79bfaa0e5b
    display: block;
    text-align: center;
    margin: auto;
    background-color: white;
    color: black;
}