footer {
    background-image: url("../img/footer.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    padding: 4rem;
    text-align: center;
    /* color: white; */
    font-size: 0.8rem;
    margin-top: 5rem;
}


.img {
    height: 350px;
    width: 100px;
}

.descModal>img {
    display: none;
}