footer {
    background-image: url("../img/footer.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 10rem;
    padding: 4rem;
    text-align: center;
    /* color: white; */
    font-size: 0.8rem;
    margin-top: 5rem;
}
.descModal>img {
    display: none;
}
.img {
    height: 350px;
    width: 100px;
}
body, form, button, input, p, h1, div, .form-select {
    display: block;
    text-align: center;
    margin: auto;
    background-color: white;
    color: black;
}